<div class="profile" style="grid-template-rows: 1fr 1fr;">
<img src="<%= @property.image_url %>" alt="<%= @property.address %>" height="200" width="200">
<div class="info">
<h1><%= @property.address %> </h1>
<p>Price:<%= @property.price %><p>
<p>Description:<%= @property.description %><p>
<ul>Tenants:
   <% @tenants.each do |tenant|  %>
        <li><%= tenant.name %></li>
    <% end %>
</ul>
</div>
<div class="modify" style="grid-row:2/3;">
<a href="/landlords/properties/<%= @property.id %>/edit">Edit Property</a>
<form class="delete" method="post" action="/landlords/properties/<%= @property.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Property" />
</form>
</div>

<a class="back_button" style="width:15%; margin:20px; grid-column:1/2;" href="/landlords/properties">&#8249; Back</a>
</div>




