<div class="profile">
  <img src="<%= @landlord.image_url %>" alt="<%= @landlord.name %> profile photo" height="250" width="200">

  <div class="info">
    <h1><%= @landlord.name %> </h1>
    <p>Email: <%= @landlord.email %></p>
    <p>Bio: <%= @landlord.bio %></p>
  </div>
  <div class="button_landlord" id="see_all">
    <a href="/landlords/properties">See All Properties</a>
    <a href="/landlords/tenants">See All Tenants</a>
  </div>

  <div class="modify">
    <a href="/landlords/<%= session[:landlord_id] %>/edit">Edit Account</a></li>
    <form class="delete" method="post" action="/landlords/<%= session[:landlord_id] %>">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete Account" />
     </form>
  </div>
  
  <div class="button_landlord" id="log_out">
  <a href="/landlords/logout">Log Out</a>
  </div>
</div>
 





