<h1><%= @landlord.name %> </h1>
<img src="<%= @landlord.image_url %>" alt="<%= @landlord.name %> profile photo" height="250" width="200">
<br><br>
<a href="/landlords/properties">All Properties</a>
<p>Email: <%= @landlord.email %></p>
<p>Bio: <%= @landlord.bio %></p>




<a href="/">Add a Property</a>
<a href="/logout">Log Out</a>
<br>
<a href="/">< Back</a>

</ul>

